/* RESETAR */
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
ul, li{
	list-style: none;
}
a{
	opacity: 0.9;
	cursor: pointer;
	text-decoration: none;
}
a:hover{
	opacity: 1;
}
img{

}
/*header*/
header{
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding: 20px 50px;
	position: absolute;
	align-items: center;
	background-color: #fff;
	justify-content: space-between;
}
header img{
	width: 200px;
}	
header nav{
	display: flex;
}
nav li a{
	color: #191c03;
}
nav li{
	margin: 0 15px;
}
nav li:first-child{
	margin-left: 0;
}
nav li:last-child{
	margin-right: 0;
}
/*Versão mobile do header*/
@media(max-width: 700px){
	header{
		flex-direction: column;
	}
	header img{
		margin-bottom: 15px;
	}
}
/*HERO*/
.hero{
	color: #fff;
	display: flex;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	justify-content: center;
	background-image: url(../img/hero.jpg);
}
.hero h1{
	font-size: 3.2rem;
	margin-bottom: 15px;
}
.hero h3{
	font-size: 2rem;
	margin-bottom: 15px;
}
.hero .btn{
	color: #191c03;
	padding: 20px 50px;
	border-radius: 4px;
	background-color: #fff;
	text-transform: uppercase;
}
/*Versão mobile do Hero*/
@media(max-width: 700px){
	.hero h1{
		font-size: 2.5rem;
	}
	.hero h3{
		font-size: 1.5rem;
	}
}
/*CONHEÇA O HOTEL*/
.conheca-o-hotel{
	display: flex;
	text-align: center;
	padding: 100px 50px;
	align-items: center;
	flex-direction: column;
}
.conheca-o-hotel h3{
	color: #191c03;
	font-size: 2rem;
	margin-bottom: 35px;
}
.conheca-o-hotel p{
	color: #191c03;
	max-width: 800px;
	margin-bottom: 35px;
}
.conheca-o-hotel hr{
	height: 2px;
	width: 200px;
	border: none;
	margin-bottom: 70px;
	background-color: #191c03;
}
.conheca-o-hotel .grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.conheca-o-hotel .grid li{
	height: 350px;
	padding: 20px;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-clip: content-box;
}
.conheca-o-hotel .grid li.small{
	flex-basis: 40%;
}
.conheca-o-hotel .grid li.large{
	flex-basis: 60%;
}
/*Versão mobile do grid*/
@media(max-width: 700px){
	.conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large{
		flex-basis: 100%;
	}	
}
/* CARACTERISTICAS */
.caracteristicas{
	display: flex;
	text-align: center;
	padding: 100px 50px;
	align-items: center;
	flex-direction: column;
	background-color: #191c03;
}

.caracteristicas h3{
	color: #fff;
	font-size: 2rem;
	margin-bottom: 35px;
}
.caracteristicas p{
	color: #fff;
	max-width: 800px;
	margin-bottom: 35px;
}
.caracteristicas hr{
	height: 2px;
	width: 200px;
	border: none;
	margin-bottom: 70px;
	background-color: #fff;
}
.caracteristicas .grid{
	width: 100%;
	display: flex;
} 
.caracteristicas .grid li{
	padding: 0 30px;
	text-align: center;
}
.caracteristicas .grid li i{
	color: #c3c63b;
	font-size: 50px;
	margin-bottom: 30px;
}
.caracteristicas .grid li h4{
	color: #c3c63b;
	font-size: 1.5em;
	margin-bottom: 30px;
}
.caracteristicas .grid li p{
	color: #fff;
}
/*Versão mobile das caracteristicas */
@media(max-width: 850px){
	.caracteristicas .grid{
		flex-direction: column;
	}	
}